@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #eeeeee;
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  background: #101010;
}

@keyframes rainbow-bottom-border {
  0% {
    border-bottom: #df2020 solid 5px;
  }
  10% {
    border-bottom: #df8f20 solid 5px;
  }
  20% {
    border-bottom: #bfdf20 solid 5px;
  }
  30% {
    border-bottom: #50df20 solid 5px;
  }
  40% {
    border-bottom: #20df60 solid 5px;
  }
  50% {
    border-bottom: #20dfcf solid 5px;
  }
  60% {
    border-bottom: #2080df solid 5px;
  }
  70% {
    border-bottom: #594de6 solid 5px;
  }
  80% {
    border-bottom: #b34de6 solid 5px;
  }
  90% {
    border-bottom: #df20af solid 5px;
  }
  100% {
    border-bottom: #df2040 solid 5px;
  }
}
nav {
  background: #101010;
  border-bottom: red 5px solid;
  animation: rainbow-bottom-border linear 20s infinite;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
}
nav ul li {
  padding: 14px 0;
  width: 120px;
}
nav ul li * {
  font-family: "Montserrat", sans-serif;
}
nav ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  height: 100%;
}
nav ul li:not(.brand) {
  float: right;
}
nav ul li:not(.brand):hover {
  background: #222222;
}
nav ul li:not(.brand).active {
  background: #222222;
  font-weight: bold;
}
nav ul li.brand {
  float: left;
}

@keyframes rainbow-bg {
  0% {
    background: #590d0d;
  }
  10% {
    background: #59390d;
  }
  20% {
    background: #4d590d;
  }
  30% {
    background: #20590d;
  }
  40% {
    background: #0d5926;
  }
  50% {
    background: #0d5953;
  }
  60% {
    background: #0d3359;
  }
  70% {
    background: #130d59;
  }
  80% {
    background: #400d59;
  }
  90% {
    background: #590d46;
  }
  100% {
    background: #590d1a;
  }
}
.landing, .sm-landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin-bottom: 30px;
}
.landing .jumbotron, .sm-landing .jumbotron {
  background-image: url("../assets/landing_bg.jpg");
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-position: center;
  background-size: cover;
}
.landing h1, .sm-landing h1 {
  font-size: 90px;
  font-weight: bolder;
}

.sm-landing {
  height: 20vh;
}
.sm-landing .jumbotron {
  background-image: url("../assets/stripes.jpg");
}

#portfolio-card-list {
  margin-top: 25px;
}

.portfolio-card {
  background-color: #222222;
  padding: 15px;
  width: 30vh;
  height: 350px;
  border-radius: 10px;
}
.portfolio-card img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.portfolio-card .title {
  font-size: 1.75em;
}

#portfolio-page {
  margin-top: 35px;
  width: 50%;
}
#portfolio-page h1 {
  font-size: 3.5em;
  font-weight: bold;
  text-align: center;
}
#portfolio-page img {
  width: 100%;
  height: 50vh;
  margin: 35px 0;
}
#portfolio-page p {
  margin-bottom: 15px;
  font-size: 1.1em;
}

/*# sourceMappingURL=master.css.map */
