@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto+Mono&display=swap");

$title: "Montserrat", sans-serif;
$content: "Roboto Mono", monospace;

$dark: #101010;
$lightGrey: #6b6c6c;
$midGrey: #484949;
$darkGrey: #212222;
$light: #eeeeee;

* {
  margin: 0;
  padding: 0;
  color: $light;
  font-family: $content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title;
}

.container {
  width: 80%;
  margin: auto;
}

body {
  background: $dark;
}

$rainbow-cycle-duration: 20s;
$border-height: 5px;
@keyframes rainbow-bottom-border {
  0% { border-bottom: hsl(0,75%,50%) solid $border-height; }
  10% { border-bottom: hsl(35,75%,50%) solid $border-height; }
  20% { border-bottom: hsl(70,75%,50%) solid $border-height; }
  30% { border-bottom: hsl(105,75%,50%) solid $border-height; }
  40% { border-bottom: hsl(140,75%,50%) solid $border-height; }
  50% { border-bottom: hsl(175,75%,50%) solid $border-height; }
  60% { border-bottom: hsl(210,75%,50%) solid $border-height; }
  70% { border-bottom: hsl(245,75%,60%) solid $border-height; }
  80% { border-bottom: hsl(280,75%,60%) solid $border-height; }
  90% { border-bottom: hsl(315,75%,50%) solid $border-height; }
  100% { border-bottom: hsl(350,75%,50%) solid $border-height; }
}

nav {
  background: $dark;
  border-bottom: red $border-height solid;
  animation: rainbow-bottom-border linear $rainbow-cycle-duration infinite;

  ul {
    list-style-type: none;
    overflow: hidden;

    li {
      padding: 14px 16px;
      
      * {
        font-family: $title;
      }

      a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
      }

      &:not(.brand) {
        float: right;

        &:hover {
          background: $darkGrey;
        }

        &.active {
          background: $darkGrey;
          font-weight: bold;
        }
      }

      &.brand {
        float: left;
      }
    }
  }
}

@keyframes rainbow-bg {
  0% { background: hsl(0,75%,20%); }
  10% { background: hsl(35,75%,20%); }
  20% { background: hsl(70,75%,20%); }
  30% { background: hsl(105,75%,20%); }
  40% { background: hsl(140,75%,20%); }
  50% { background: hsl(175,75%,20%); }
  60% { background: hsl(210,75%,20%); }
  70% { background: hsl(245,75%,20%); }
  80% { background: hsl(280,75%,20%); }
  90% { background: hsl(315,75%,20%); }
  100% { background: hsl(350,75%,20%); }
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  background: hsl(0, 75%, 20%);
  animation: rainbow-bg $rainbow-cycle-duration linear infinite;
  margin-bottom: 30px;


  h1 {
    font-size: 55px;
    font-weight: bolder;
  }
}